<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.visolink.salesmanage.pricingmanager.dao.PricingManagerDao">
    <!--跟新审批单-->
    <update id="updatePricing"  parameterType="java.util.Map">
        UPDATE 
  `mm_ap_set_the_pricing`
SET

  `this_pricing_value` = #{this_pricing_value},
  `this_pricing_profit_price` = #{this_pricing_profit_price},
  `this_pricing_profit_margin` = #{this_pricing_profit_margin},
  `this_pricing_quiet_profit_margin` = #{this_pricing_quiet_profit_margin},
  `this_pricing_act_profit_margin` = #{this_pricing_act_profit_margin},
  `add_sign_value` = #{add_sign_value},
  `add_sign_profit_price` = #{add_sign_profit_price},
  `add_sign_profit_margin` = #{add_sign_profit_margin},
  `add_sign_quiet_profit_margin` = #{add_sign_quiet_profit_margin},
  `add_sign_act_profit_margin` = #{add_sign_act_profit_margin},
  `surplus_value` = #{surplus_value},
  `surplus_profit_price` = #{surplus_profit_price},
  `surplus_profit_margin` = #{surplus_profit_margin},
  `surplus_quiet_profit_margin` = #{surplus_quiet_profit_margin},
  `surplus_act_profit_margin` = #{surplus_act_profit_margin},
  `theprojected_value` = #{theprojected_value},
  `theprojected_profit_price` = #{theprojected_profit_price},
  `theprojected_profit_margin` = #{theprojected_profit_margin},
  `theprojected_quiet_profit_margin` = #{theprojected_quiet_profit_margin},
  `theprojected_act_profit_margin` = #{theprojected_act_profit_margin},
  `act_value` = #{act_value},
  `act_profit_price` = #{act_profit_price},
  `act_profit_margin` = #{act_profit_margin},
  `quiet_value` = #{quiet_value},
  `quiet_profit_price` = #{quiet_profit_price},
  `quiet_profit_margin` = #{quiet_profit_margin},
  `conclusion` = #{conclusion},
  `city_level` = #{city_level},
  `project_scale` = #{project_scale},
  `city_period` = #{city_period},
  `plate_stock` = #{plate_stock},
  `plate_period` = #{plate_period},
  `sold_num` = #{sold_num},
  `sold_per` = #{sold_per},
  `islimit_price` = #{islimit_price},
  `islimit_explain` = #{islimit_explain},
  `ismerge` = #{ismerge},
  `marketing_explain` = #{marketing_explain},
  `stock_per` = #{stock_per},
  `stock_partner` = #{stock_partner},
  `stock_idea` = #{stock_idea},
  `this_sales_facecase` = #{this_sales_facecase},
  `this_sales_estimate` = #{this_sales_estimate},
  `this_sales_qt` = #{this_sales_qt},
  `price_mix_selling` = #{price_mix_selling},
  `price_mix_dis` = #{price_mix_dis},
  `price_mix_strategy` = #{price_mix_strategy},
  `price_mix_safeguard` = #{price_mix_safeguard},
  `price_mix_qt` = #{price_mix_qt},
  `overall_profit_margin` = #{overall_profit_margin},
  `overall_profit_margin5` = #{overall_profit_margin5},
  `department_name` = #{department_name},
  `department_id` = #{department_id},
  `project_id` = #{project_id},
  `project_name` = #{project_name},
  `create_time` = #{create_time},
  `creator` = #{creator},
  `update_time` = #{update_time},
  `editor` = #{editor}
WHERE


    </update>

    <!--插入审批单-->
  <insert id="insertPricing"  parameterType="java.util.Map">
      INSERT INTO `mm_ap_set_the_pricing` (
  `id`,
  `this_pricing_value`,
  `this_pricing_profit_price`,
  `this_pricing_profit_margin`,
  `this_pricing_quiet_profit_margin`,
  `this_pricing_act_profit_margin`,
  `add_sign_value`,
  `add_sign_profit_price`,
  `add_sign_profit_margin`,
  `add_sign_quiet_profit_margin`,
  `add_sign_act_profit_margin`,
  `surplus_value`,
  `surplus_profit_price`,
  `surplus_profit_margin`,
  `surplus_quiet_profit_margin`,
  `surplus_act_profit_margin`,
  `theprojected_value`,
  `theprojected_profit_price`,
  `theprojected_profit_margin`,
  `theprojected_quiet_profit_margin`,
  `theprojected_act_profit_margin`,
  `act_value`,
  `act_profit_price`,
  `act_profit_margin`,
  `quiet_value`,
  `quiet_profit_price`,
  `quiet_profit_margin`,
  `conclusion`,
  `city_level`,
  `project_scale`,
  `city_period`,
  `plate_stock`,
  `plate_period`,
  `sold_num`,
  `sold_per`,
  `islimit_price`,
  `islimit_explain`,
  `ismerge`,
  `marketing_explain`,
  `stock_per`,
  `stock_partner`,
  `stock_idea`,
  `this_sales_facecase`,
  `this_sales_estimate`,
  `this_sales_qt`,
  `price_mix_selling`,
  `price_mix_dis`,
  `price_mix_strategy`,
  `price_mix_safeguard`,
  `price_mix_qt`,
  `overall_profit_margin`,
  `overall_profit_margin5`,
  `department_name`,
  `department_id`,
  `project_id`,
  `project_name`,
  `create_time`,
  `creator`,
  `update_time`,
  `editor`
) 
VALUES
  (
    UUID(),
    #{this_pricing_value},
    #{this_pricing_profit_price},
    #{this_pricing_profit_margin},
    #{this_pricing_quiet_profit_margin},
    #{this_pricing_act_profit_margin},
    #{add_sign_value},
    #{add_sign_profit_price},
    #{add_sign_profit_margin},
    #{add_sign_quiet_profit_margin},
    #{add_sign_act_profit_margin},
    #{surplus_value},
    #{surplus_profit_price},
    #{surplus_profit_margin},
    #{surplus_quiet_profit_margin},
    #{surplus_act_profit_margin},
    #{theprojected_value},
    #{theprojected_profit_price},
    #{theprojected_profit_margin},
    #{theprojected_quiet_profit_margin},
    #{theprojected_act_profit_margin},
    #{act_value},
    #{act_profit_price},
    #{act_profit_margin},
    #{quiet_value},
    #{quiet_profit_price},
    #{quiet_profit_margin},
    #{conclusion},
    #{city_level},
    #{project_scale},
    #{city_period},
    #{plate_stock},
    #{plate_period},
    #{sold_num},
    #{sold_per},
    #{islimit_price},
    #{islimit_explain},
    #{ismerge},
    #{marketing_explain},
    #{stock_per},
    #{stock_partner},
    #{stock_idea},
    #{this_sales_facecase},
    #{this_sales_estimate},
    #{this_sales_qt},
    #{price_mix_selling},
    #{price_mix_dis},
    #{price_mix_strategy},
    #{price_mix_safeguard},
    #{price_mix_qt},
    #{overall_profit_margin},
    #{overall_profit_margin5},
    #{department_name},
    #{department_id},
    #{project_id},
    #{project_name},
    now(),
    #{creator},
    #{update_time},
    #{editor}
  )

  </insert>  

<select id="selectPricing" parameterType="java.util.Map" resultType="java.util.Map">
  SELECT
  `id`,
  `this_pricing_value`,
  `this_pricing_profit_price`,
  `this_pricing_profit_margin`,
  `this_pricing_quiet_profit_margin`,
  `this_pricing_act_profit_margin`,
  `add_sign_value`,
  `add_sign_profit_price`,
  `add_sign_profit_margin`,
  `add_sign_quiet_profit_margin`,
  `add_sign_act_profit_margin`,
  `surplus_value`,
  `surplus_profit_price`,
  `surplus_profit_margin`,
  `surplus_quiet_profit_margin`,
  `surplus_act_profit_margin`,
  `theprojected_value`,
  `theprojected_profit_price`,
  `theprojected_profit_margin`,
  `theprojected_quiet_profit_margin`,
  `theprojected_act_profit_margin`,
  `act_value`,
  `act_profit_price`,
  `act_profit_margin`,
  `quiet_value`,
  `quiet_profit_price`,
  `quiet_profit_margin`,
  `conclusion`,
  `city_level`,
  `project_scale`,
  `city_period`,
  `plate_stock`,
  `plate_period`,
  `sold_num`,
  `sold_per`,
  `islimit_price`,
  `islimit_explain`,
  `ismerge`,
  `marketing_explain`,
  `stock_per`,
  `stock_partner`,
  `stock_idea`,
  `this_sales_facecase`,
  `this_sales_estimate`,
  `this_sales_qt`,
  `price_mix_selling`,
  `price_mix_dis`,
  `price_mix_strategy`,
  `price_mix_safeguard`,
  `price_mix_qt`,
  `overall_profit_margin`,
  `overall_profit_margin5`,
  `department_name`,
  `department_id`,
  `project_id`,
  `project_name`,
  `create_time`,
  `creator`,
  `update_time`,
  `editor`
FROM
 `mm_ap_set_the_pricing`
</select>
</mapper>